<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>NeoCortex</title>
    <meta name="description" content="NeoCortex is an AI that is built to detect and segment health issues from MRI
    images." />
    <link rel="icon" type="image/ico" sizes="32x32" href="static/img/icon.ico">
    <meta name="msapplication-TileColor" content="#ffffff">

    <!--Inter UI font-->
    <link href="https://rsms.me/inter/inter-ui.css" rel="stylesheet">

    <!--vendors styles-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">

    <!-- Bootstrap CSS / Color Scheme -->
    <link rel="stylesheet" href="/static/css/blue.css" id="theme-color">
</head>

<body>

    <!--navigation-->
    <section class="smart-scroll">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md navbar-dark">
                <img style="border-radius: 10px;" src="./img/icon.ico" alt="">&nbsp;
                <a class="navbar-brand heading-black" href="index.html">
                    Good Boy Associates
                </a>
                <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse"
                    data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span data-feather="grid"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="#features">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="#blog">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="#faq">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="#pricing">Pricing</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>

    <!--hero header-->
    <section class="py-7 py-md-0 bg-hero" id="home">
        <div class="container">
            <div class="row vh-md-100">
                <div class="col-md-8 col-sm-10 col-12 mx-auto my-auto text-center">
                    <h1 class="heading-black text-capitalize">NeoCortex</h1>
                    <p class="lead py-3">NeoCortex is an AI that is built to detect and segment health issues from MRI
                        images.</p>
                    <a class="nav-link page-scroll" href="#features">
                        <button class="btn btn-primary mb-3 d-inline-flex flex-row align-items-center">

                            Explore now!
                        </button>
                    </a>

                </div>
            </div>
        </div>
    </section>

    <!-- features section -->
    <section class="pt-6 pb-7" id="features">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto text-center">
                    <h2 class="heading-black">Enhancing Brain Tumor Detection with AI</h2>

                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-10 mx-auto">
                    <div class="row feature-boxes">
                        <div class="col-md-6 box">
                            <div class="icon-box box-primary">
                                <div class="icon-box-inner">
                                    <span data-feather="crosshair" width="35" height="35"></span>
                                </div>
                            </div>
                            <h5>Improved diagnostic accuracy</h5>
                            <p class="" style="font-family: arial;">Our AI model utilizes advanced image analysis
                                techniques to extract
                                relevant features from medical images, such as MRI or CT scans, leading to improved
                                accuracy in the detection and classification of brain tumors.</p>
                        </div>
                        <div class="col-md-6 box">
                            <div class="icon-box box-success">
                                <div class="icon-box-inner">
                                    <span data-feather="activity" width="35" height="35"></span>
                                </div>
                            </div>
                            <h5>Streamlined diagnosis process</h5>
                            <p class="" style="font-family: arial;">The AI model's ability to accurately segment and
                                locate brain tumors
                                in an image significantly streamlines the diagnostic process, reducing the time and
                                effort required to arrive at a diagnosis.</p>
                        </div>
                        <div class="col-md-6 box">
                            <div class="icon-box box-danger">
                                <div class="icon-box-inner">
                                    <span data-feather="clock" width="35" height="35"></span>
                                </div>
                            </div>
                            <h5>Increased efficiency</h5>
                            <p class="" style="font-family: arial;">Our AI model is trained on large datasets of medical
                                images using
                                advanced machine learning algorithms, resulting in increased efficiency and speed in the
                                classification of brain tumors.</p>
                        </div>
                        <div class="col-md-6 box">
                            <div class="icon-box box-info">
                                <div class="icon-box-inner">
                                    <span data-feather="dollar-sign" width="35" height="35"></span>
                                </div>
                            </div>
                            <h5>Reduced healthcare costs</h5>
                            <p class="" style="font-family: arial;">By improving the accuracy and efficiency of brain
                                tumor detection and
                                classification, our AI model has the potential to significantly reduce healthcare costs,
                                as well as minimize the impact of misdiagnosis on patients.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-6">
                <div class="col-md-6 mr-auto">
                    <h2>Knight is more than just a page builder.</h2>
                    <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis pulvinar
                        vestibulum. Donec eleifend, sem sed dictum mattis, turpis purus placerat eros.</p>
                    <a href="#" class="btn btn-light">
                        Try the live demo
                    </a>
                </div>
                <div class="col-md-5">
                    <div class="slick-about">
                        <img src="/static/img/blog-1.jpg" class="img-fluid rounded d-block mx-auto" alt="Work 1" />
                        <img src="/static/img/blog-2.jpg" class="img-fluid rounded d-block mx-auto" alt="Work 2" />
                        <img src="/static/img/blog-3.jpg" class="img-fluid rounded d-block mx-auto" alt="Work 3" />
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="py-7 bg-dark section-angle top-right bottom-right" id="pricing">
        <div class="container">
            <div class="row pt-5 pricing-table">
                <div class="col-12 mx-auto">
                    <div class="card-deck pricing-table">
                       
                        <div class="card">
                            <div class="card-body">
                                <img src="/static/img/blog-1.jpg" alt="" width="250px" height="250px">   
                                <img src="/static/img/blog-1.jpg" alt="" width="255px" height="250px">   
                                <img src="/static/img/blog-1.jpg" alt="" width="250px" height="250px"> <br>    <br>              
                                <label class="file-upload">
                                <input type="file" class="file-upload__input"/>
                                <span class="file-upload__label">Upload</span>
                                </label>    <br>  
                                <button class="submit-button btn-info">Submit</button>                              
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--faq section-->
    <section class="py-7" id="faq">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto text-center">
                    <h2>Frequently asked questions</h2>
                    <p class="text-muted lead">Revolutionizing Brain Tumor Detection with AI: The Power of ResNet and
                        ResUnet</p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-10 mx-auto">
                    <div class="row">
                        <div class="col-md-6 mb-5">
                            <p class="text-muted"> Our AI model is designed to accurately detect and classify brain
                                tumors using state-of-the-art
                                techniques. The model first uses a ResNet (Residual Network) to classify medical images,
                                such as MRI or
                                CT scans, as either containing a tumor or being tumor-free. ResNet is a type of deep
                                convolutional
                                neural network that allows for the effective training of deep models and has shown great
                                success in
                                image classification tasks. If a tumor is detected, the model then uses a ResUnet
                                (Residual U-Net) to
                                accurately segment and locate the tumor in the image. ResUnet is a type of deep learning
                                model that
                                combines the features of U-Net and ResNet to provide improved performance in medical
                                image segmentation
                                tasks.

                                The combination of these two state-of-the-art techniques results in a highly efficient
                                and accurate
                                system for the diagnosis of brain tumors. By reducing the potential for misdiagnosis and
                                streamlining
                                the diagnostic process, our AI model has the potential to revolutionize the field of
                                brain tumor
                                detection and classification.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="mx-auto text-center">
                    <h5 class="mb-4">Have questions?</h5>
                    <a href="#" class="btn btn-primary">Contact us</a>
                </div>
            </div>
        </div>
    </section>

    <!--news section-->
    <section class="py-7 bg-dark section-angle top-left bottom-left" id="blog">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto text-center">
                    <h2 class="heading-black">News from Knight.</h2>
                    <p class="text-muted lead">What's new at Knight.</p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-4">
                    <div class="card">
                        <a href="#">
                            <img class="card-img-top img-raised" src="img/blog-1.jpg" alt="Blog 1">
                        </a>
                        <div class="card-body">
                            <a href="#" class="card-title mb-2">
                                <h5>We launch new iOS & Android mobile apps</h5>
                            </a>
                            <p class="text-muted small-xl mb-2">Sep 27, 2018</p>
                            <p class="card-text">Nam liber tempor cum soluta nobis eleifend option congue nihil imper,
                                consectetur adipiscing elit. <a href="#">Learn more</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <a href="#">
                            <img class="card-img-top img-raised" src="img/blog-2.jpg" alt="Blog 2">
                        </a>
                        <div class="card-body">
                            <a href="#" class="card-title mb-2">
                                <h5>New update is available for the editor</h5>
                            </a>
                            <p class="text-muted small-xl mb-2">August 16, 2018</p>
                            <p class="card-text">Nam liber tempor cum soluta nobis eleifend option congue nihil imper,
                                consectetur adipiscing elit. <a href="#">Learn more</a></p>
                        </div>
                    </div>
                </div>


                <div class="row mt-6">
                    <div class="col-md-6 mx-auto text-center">
                        <a href="#" class="btn btn-primary">View all posts</a>
                    </div>
                </div>
            </div>
    </section>

    <!--footer-->
    <footer class="py-6">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 mr-auto">
                    <h5>About Good Boy Associates</h5>
                    <p class="text-muted">"Good Boy Associates" is a small developer group formed by a group of college
                        students with a mission to make the world a better place. The group focuses on using technology
                        to solve social and environmental issues, creating innovative solutions to address pressing
                        problems in their community and beyond.</p>
                    <ul class="list-inline social social-sm">
                        <li class="list-inline-item">
                            <a href=""><i class="fa fa-facebook"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href=""><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href=""><i class="fa fa-google-plus"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href=""><i class="fa fa-dribbble"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>Legal</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Terms</a></li>
                        <li><a href="#">Refund policy</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>Partner</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Refer a friend</a></li>
                        <li><a href="#">Affiliates</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>Help</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Log in</a></li>
                    </ul>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12 text-muted text-center small-xl">
                    &copy; 2023 Good Boy Associates - All Rights Reserved
                </div>
            </div>
        </div>
    </footer>

    <!--scroll to top-->
    <div class="scroll-top">
        <i class="fa fa-angle-up" aria-hidden="true"></i>
    </div>


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.7.3/feather.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="static/js/scripts.js"></script>
</body>

</html>